//warrior color schema

$white: #fff;
$light-pink: #F7AEF8;
$lavender: #B388EB;
$dark-lavender: #9e67e5;
$cornflower-blue: #8093F1AB;
$sky-blue: #72DDF7;
$alabaster-white: #F4F4ED;
$light-blue-grey: #A6EBEBEB;
$light-grey: #F4F4ED;
$dark-grey: #B3B3B3;

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import './auth';
@import'./home';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
}

.submit {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 2%;
  background-color: rgb(231, 110, 28);
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: rgb(25, 219, 129);
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
